{% extends 'base.html.twig' %}

{% block title %}Show Airport{% endblock %}

{% block body %}

    <h1>{{ airport.getName() }}</h1>
    <form action="">
        <input type="text">
    </form>

{% endblock %}
